* text=auto eol=crlf

# Binary files
*.ico binary
*.png binary
*.pdn binary
*.dat binary
*.dll binary
*.exe binary
*.sys binary
*.zip binary
*.gz binary

# Unix scripts must keep a valid shebang
*.sh text eol=lf
